.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    color: #fbefe6;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.about > h2 {
    font-family: 'Schoolbell', cursive;
    color:#DF864E;
}

.aboutList {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.aboutItemLabel {
    color: #81ADEB;
    margin-right:0.4em;
    white-space: nowrap;
}

.aboutItemContent {
    color:#DF864E;
}