html{
    width: 100%;
    height:100%;
}
body {
    background-color:#1B1B1B;
    padding: 0;
    margin : 0;
    height:100%
}

#root{
    height: 100%;
}

.app{
    height: 100%;
    justify-content: stretch;
}
