.boredLink {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.boredLink > * {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: #fbefe6;
}

.liveSpot{
    margin-right: 0.5em;
    width:1.2em;
    height:1.2em;
    border-radius: 1em;
}

.liveSpot>div{
    position:absolute;
    width:1.2em;
    height:1.2em;
    border: 0.1em solid #fbefe6;
    border-radius: 1em;
    -webkit-animation: live 1.4s infinite ease-in-out;
    animation: live 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.liveSpot> div:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  .livenow > div:nth-child(2) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  .livenow > div:nth-child(3) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
@-webkit-keyframes live {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0.6);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }
@keyframes live {
    0%,
    80%,
    100% {
      transform: scale(0.6);
      -webkit-transform: scale(0.6);
    }
    40% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }